
<div class="toolbar" role="banner">
    <img
      width="60"
      alt="Angular Logo"
      src="https://www.bing.com/th?id=OIP.sOEyPNOAE-9rT2oISMD0twHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"
    />
    <span>Welcome</span>
      <div class="spacer"></div>
      <button class="btn btn" type="submit" (click)="logout()">Logout</button>
      <button class="btn btn" routerLink="/cart" type="submit" ><img width="50" src="https://www.bing.com/th?id=OIP.-SgcC5obfdKG1VUNweimDwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"></button>
      
</div>

<div class="text-center mt-3">
    <h2 class="lead display-5">Explore your Products</h2><br>
</div>

<!-- <div *ngFor="let product of products">
<app-product-card [product]="product"></app-product-card>
</div> -->
<br>
<div class="row">
    <div class="col-2" *ngFor="let product of products"><br>
        <app-product-card [product]="product"></app-product-card>
    </div>
</div>
